.dsq-brlink
{
	font-size:10px;
}

.logo-disqus
{
	font-family:Arial, sans-serif;
	font-size:9px;
	font-weight:700;
	text-transform:uppercase;
}

#dsq-content .dsq-alert-message a
{
	color:#516361;
}

#dsq-content .dsq-alert-message.dsq-error
{
	background-color:#FCA09A;
	border-color:#90040B;
	color:#341922;
}

#dsq-content .dsq-alert-message.dsq-error a
{
	color:#000;
	font-size:115%;
	font-weight:700;
	text-decoration:underline;
}

#dsq-content iframe,#dsq-popup-alert iframe
{
	--ifie7width:0;
	background-color:transparent;
	border:0;
	height:160px;
	overflow-x:visible;
	overflow-y:auto;
	width:100%;
}

#dsq-content iframe.dsq-post-reply,#dsq-popup-alert iframe.dsq-post-reply
{
	height:300px;
}

#dsq-content iframe.dsq-post-reply-authenticated,#dsq-popup-alert iframe.dsq-post-reply-authenticated
{
	height:170px;
}

#dsq-content #dsq-comments .dsq-header-avatar .dsq-drop-profile
{
	-moz-border-radius:0 5px 5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	_position:absolute;
	_top:32px;
	_z-index:9000;
	background:#f5f5f5;
	border-bottom:1px solid #888;
	border-left:1px solid #888;
	border-right:1px solid #888;
	color:#333;
	display:none;
	float:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	left:auto;
	min-width:64px;
	position:absolute;
	z-index:2;
}

.dsq-overlay
{
	-moz-opacity:0.8;
	background-color:#000;
	display:block;
	filter:alpha(opacity=80);
	height:100%;
	left:0;
	opacity:.80;
	position:absolute;
	top:0;
	width:100%;
	z-index:5000;
}

.dsq-popup
{
	border:0;
	color:#333;
	display:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding:0;
	position:absolute;
	text-align:left;
	z-index:9999;
}

.dsq-popup p
{
	margin-bottom:8px;
}

.dsq-popup p,.dsq-popup ul
{
	color:#333;
	line-height:1.22em;
}

.dsq-popup a
{
	color:#1C5392;
}

.dsq-popup .dsq-popup-top
{
	background:transparent url(http://media.disqus.com/images/embed/popup-top.png) no-repeat;
	height:20px;
	position:relative;
	text-align:right;
	width:520px;
}

.dsq-popup .dsq-popup-top img
{
	margin:12px 13px 0 0;
}

.dsq-popup .dsq-popup-bottom
{
	background:transparent url(http://media.disqus.com/images/embed/popup-bottom.png) no-repeat;
	height:20px;
	text-align:right;
	width:520px;
}

.dsq-popup .powered-by
{
	border-top:1px solid #ddd;
	font-size:90%;
	margin-top:10px;
	padding-top:10px;
	text-align:right;
}

.dsq-popup .dsq-popup-body div.powered-by a
{
	color:#888;
	text-decoration:none;
}

.dsq-popup .dsq-popup-body
{
	background:transparent url(http://media.disqus.com/images/embed/popup-body.png) repeat-y;
	width:520px;
}

.dsq-popup .dsq-popup-body .dsq-popup-header a.dsq-close-link
{
	color:#7aa5d5;
	position:absolute;
	right:5px;
	text-decoration:none;
	top:-8px;
}

.dsq-popup .dsq-popup-body .dsq-popup-header a.dsq-close-link img
{
	border:0;
	height:24px;
	width:23px;
}

.dsq-popup .dsq-subscribe-submit
{
	color:#222;
	margin:0 auto;
	padding:0 10px;
}

.dsq-popup .dsq-subscribe-submit input
{
	font-size:110%;
	width:200px;
}

.dsq-popup p.dsq-popup-notice
{
	background-color:#fdf1d0;
	border:1px solid #fad163;
	margin:20px 0 0;
	padding:5px;
}

.dsq-popup-container .dsq-popup-b
{
	background:url(http://media.disqus.com/images/facebox/b.png);
}

.dsq-popup-container .dsq-popup-tl
{
	background:url(http://media.disqus.com/images/facebox/tl.png);
}

.dsq-popup-container .dsq-popup-tr
{
	background:url(http://media.disqus.com/images/facebox/tr.png);
}

.dsq-popup-container .dsq-popup-bl
{
	background:url(http://media.disqus.com/images/facebox/bl.png);
}

.dsq-popup-container .dsq-popup-br
{
	background:url(http://media.disqus.com/images/facebox/br.png);
}

.dsq-popup-container table
{
	border-collapse:collapse;
}

.dsq-popup-container td
{
	border-bottom:0;
	padding:0;
}

.dsq-popup-container .dsq-popup-body
{
	background:#fff;
	padding:10px;
	width:370px;
}

.dsq-popup-container .dsq-popup-tl,.dsq-popup-container .dsq-popup-tr,.dsq-popup-container .dsq-popup-bl,.dsq-popup-container .dsq-popup-br
{
	height:10px;
	overflow:hidden;
	padding:0;
	width:10px;
}

.dsq-popup-container .dsq-popup-title
{
	background:none;
	background-color:#E5EBED;
	border-bottom:1px solid #2F414B;
	height:auto;
	margin:-10px -10px 10px;
	padding:10px;
	position:static;
	text-align:left;
	width:auto;
}

.dsq-popup-container .dsq-popup-title h3
{
	font-size:18px;
	font-weight:700;
	margin:0;
}

.dsq-popup-container h4
{
	font-size:14px;
	font-weight:700;
	margin:0;
}

.dsq-popup .dsq-blacklist-option
{
	border-bottom:1px dotted #E5EBED;
	padding:5px 10px;
}

.dsq-popup ul.dsq-popup-help
{
	margin:0 10px;
}

#dsq-popup-message.dsq-popup ul.dsq-popup-help li
{
	border-bottom:1px dotted #E5EBED;
	margin:0 0 15px;
	padding:0 0 10px;
}

.dsq-popup ul.dsq-popup-help li.dsq-help-otheraccts
{
	border-bottom-style:solid;
	border-bottom-width:2px;
	font-size:110%;
	font-weight:700;
}

#dsq-popup-message ul.dsq-list-tick li
{
	display:list-item;
	list-style:none inside url(http://media.disqus.com/images/tick.png)!important;
}

#dsq-popup-message ul.dsq-list-bluebullet li
{
	display:list-item;
	list-style:none inside url(http://media.disqus.com/images/bullet_blue.png);
}

#dsq-popup-message li
{
	border-bottom:1px dotted #E5EBED;
	margin:10px 0;
	padding:0 10px;
}

#dsq-popup-message li li
{
	padding-left:10px;
}

.dsq-popup iframe#dsq-popup-login
{
	height:310px;
	margin-top:10px;
	width:100%;
}

.dsq-popup-login .dsq-popup-content
{
	width:420px;
}

.dsq-popup iframe#dsq-popup-account-settings
{
	height:400px;
	width:100%;
}

.dsq-lightbox .dsq-popup-content
{
	width:550px;
}

.dsq-lightbox img
{
	border:0!important;
	height:auto!important;
	width:auto!important;
}

.dsq-lightbox .dsq-lightbox-register-reasons
{
	padding:0 10px!important;
}

.dsq-lightbox .dsq-lightbox-register-reasons li
{
	background:url(http://media.disqus.com/images/small-tick.png) no-repeat;
	color:#555;
	display:inline!important;
	font-size:11px!important;
	margin:0 0 0 6px !important;
	padding-left:12px!important;
}

.dsq-lightbox .dsq-lightbox-register-reasons li img
{
	margin-bottom:-1px!important;
}

.dsq-lightbox .dsq-lightbox-submit
{
	height:1%;
	margin-top:20px;
	overflow:auto;
	padding:0 5px;
}

.dsq-lightbox .dsq-lightbox-auth-post
{
	-moz-border-radius:4px;
	-webkit-border-radisu:4px;
	-webkit-border-radius:4px;
	background-color:#EAFFCD;
	float:right;
	padding:4px;
}

.dsq-lightbox .dsq-lightbox-auth-skip
{
	float:left;
	margin-top:5px;
	padding:2px;
}

.dsq-lightbox .dsq-lightbox-switch-auth
{
	font-size:11px;
	margin:0 auto;
	text-align:right;
	width:400px;
}

.dsq-lightbox .dsq-lightbox-auth-fields table
{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#EDFFC9;
	border:1px solid #A5C469;
	margin:10px auto;
	padding:8px;
	width:400px;
}

.dsq-lightbox .errorlist
{
	color:#c03000!important;
	font-size:11px;
	font-weight:700;
	margin:0;
	padding:0;
}

.dsq-lightbox .errorlist li
{
	margin:5px 0!important;
	padding:0!important;
}

.dsq-lightbox-errors p
{
	color:#c03000!important;
	font-size:11px;
	font-weight:700;
}

.dsq-lightbox .dsq-lightbox-auth-fields table td input
{
	font-size:13px;
	padding:2px;
}

.dsq-lightbox-recognized table
{
	margin:10px auto;
	width:400px;
}

.dsq-popup-profile .dsq-popup-title
{
	height:1%;
	overflow:auto;
}

.dsq-popup-profile .dsq-popup-title img.dsq-popup-profile-avatar
{
	height:48px;
	width:48px;
}

.dsq-popup-profile .dsq-popup-profile-user
{
	padding:0 10px;
}

.dsq-popup-profile .dsq-popup-profile-user h3
{
	font-size:20px;
	font-weight:700;
	margin:0;
}

.dsq-popup-profile .dsq-popup-profile-user-stats big
{
	font-size:16px;
	font-weight:700;
}

.dsq-popup-profile .dsq-popup-profile-state
{
	background-color:#f0f0f0;
	border-bottom:1px solid #B2B2B2;
	clear:both;
	height:auto;
	margin:-10px -10px 0;
	overflow:hidden;
	padding:15px;
}

.dsq-popup-profile .dsq-popup-profile-status
{
	background-color:#EEF9FD;
	border-bottom:1px solid #9FCDE3;
	margin:0 -10px;
	padding:10px;
}

.dsq-popup-profile .dsq-popup-profile-snapshot
{
	padding:15px 0;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td
{
	vertical-align:top;
	width:50%;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td ul
{
	margin-bottom:15px;
	max-height:200px;
	overflow:auto;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td ul img
{
	margin-right:5px;
	vertical-align:text-top;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td ul li a
{
	font-size:12px;
	text-decoration:none;
	text-transform:capitalize;
}

.dsq-popup .dsq-popup-body div.show-more
{
	color:#7aa5d5;
	font-size:95%;
	padding-left:10px;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding
{
	font-size:13px;
	padding:0 10px;
}

.dsq-popup .dsq-popup-body .dsq-popup-header
{
	background-color:#e5ebed;
	border-bottom:1px solid #445460;
	padding:0 10px 10px;
	position:relative;
}

.dsq-popup .dsq-popup-body .dsq-popup-header img
{
	border:1px solid #fff;
	height:32px;
	vertical-align:middle;
	width:32px;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding cite
{
	font-style:normal;
	margin-left:5px;
	vertical-align:middle;
}

.dsq-popup .dsq-popup .dsq-popup-body .dsq-popup-body-padding cite
{
	margin:0;
	position:static;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding cite span
{
	font-size:150%;
	font-style:normal;
	font-weight:700;
	margin-right:10px;
	vertical-align:middle;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding .dsq-popuplink
{
	font-size:90%;
	margin:0 0 0 5px;
}

.dsq-popup .dsq-clout
{
	background:url(http://media.disqus.com/images/embed/clout-background.png) no-repeat top left;
	float:left;
	height:32px;
	line-height:32px;
	width:72px;
}

.dsq-popup .dsq-clout.unverified
{
	background:url(http://media.disqus.com/images/embed/unverified-background.png) no-repeat top left;
	line-height:24px;
}

.dsq-popup .dsq-clout a
{
	color:#FFF;
	float:left;
	font-size:16px;
	font-weight:700;
	text-align:center;
	text-decoration:none;
	width:100%;
}

.dsq-popup .dsq-clout.unverified a
{
	font-size:11px;
	font-weight:400;
}

.dsq-popup .dsq-clout a:hover
{
	color:#fff;
}

.dsq-popup .dsq-profile-services
{
	background-color:#f0f0f0;
	border-bottom:1px solid #aaa;
	height:auto;
	overflow:hidden;
	padding:10px;
}

.dsq-popup .dsq-profile-services .dsq-profile-userlvl
{
	border-bottom:1px solid #ddd;
	margin-bottom:15px;
	padding-bottom:10px;
}

.dsq-popup .dsq-profile-services span.dsq-profile-ontheweb
{
	color:#aaa;
	float:left;
	font-family:Trebuchet MS, Trebuchet, Verdana, sans-serif;
	font-size:95%;
}

.dsq-popup .dsq-profile-services ul
{
	display:inline;
	margin-left:15px;
}

.dsq-popup .dsq-profile-services ul li
{
	display:inline;
	margin-right:15px;
}

.dsq-popup .dsq-profile-services span.dsq-services-description
{
	color:#555;
	display:none;
	font-size:85%;
	left:5px;
	position:absolute;
	top:25px;
	white-space:nowrap;
}

.dsq-popup .dsq-profile-services img
{
	border:2px solid #fff;
}

.dsq-popup a.dsq-profile-follow
{
	color:#7aa5d5;
}

.dsq-popup .dsq-profile-status,.dsq-popup .dsq-profile-recentcomments
{
	clear:both;
	padding:10px;
}

.dsq-popup .dsq-profile-status p,.dsq-popup .dsq-profile-recentcomments p
{
	padding:0;
}

.dsq-popup .dsq-profile-status h4,.dsq-popup .dsq-profile-recentcomments h4
{
	border-bottom:2px solid #D7DBDD;
	font-size:110%;
	margin-bottom:10px;
}

.dsq-popup .dsq-profile-status h4 span,.dsq-popup .dsq-profile-recentcomments h4 span
{
	background-color:#D7DBDD;
	color:#555;
	font-weight:700;
	padding:2px 5px;
}

.dsq-popup p.dsq-profile-label
{
	color:#aaa;
	font-family:Trebuchet MS, Trebuchet, Verdana, sans-serif;
	font-size:95%;
}

.dsq-popup ul.dsq-profile-commentlist
{
	margin-top:10px;
}

.dsq-popup .dsq-profile-commentlist li
{
	border-bottom:2px solid #e9ebed;
	padding:5px 0;
}

.dsq-popup .dsq-profile-commentlist li img.avatar-small
{
	border:1px solid #DDD;
	float:left;
	height:24px;
	width:24px;
}

.dsq-popup .dsq-profile-commentlist li .comment-message
{
	float:left!important;
	margin-left:5px!important;
}

.dsq-popup .dsq-profile-commentlist li span.comment-meta
{
	background:none!important;
	clear:both!important;
	display:block!important;
	float:none!important;
	font-size:90%!important;
	margin-left:30px!important;
	width:auto!important;
}

.dsq-popup .dsq-profile-commentlist span
{
	color:#666;
	font-size:95%;
}

.dsq-menu
{
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	_position:absolute;
	background:#f0f0f0!important;
	border-color:#888!important;
	border-style:solid!important;
	border-width:1px!important;
	display:inline;
	left:0;
	list-style:none!important;
	margin:0!important;
	padding:5px 10px 5px 0 !important;
	position:absolute;
	z-index:2!important;
}

.dsq-menu li
{
	background:none;
	clear:both;
	float:none;
	font-size:12px!important;
	line-height:1.3em!important;
	list-style:none!important;
	margin:0 0 2px 4px !important;
	padding:0!important;
	text-align:left;
	white-space:nowrap!important;
}

.dsq-menu li.dsq-admin-email,.dsq-menu li.dsq-admin-ip
{
	color:#555;
	cursor:default;
	font-style:italic;
}

.dsq-menu li.dsq-menu-sep
{
	border-bottom:1px dotted #aaa;
	font-size:1pt!important;
}

.dsq-menu li a
{
	color:#333;
	text-decoration:none;
}

#dsq-content #dsq-comments .dsq-drop-profile li
{
	clear:both;
	float:none;
	line-height:1.3em;
	padding:2px 4px;
	white-space:nowrap;
}

#dsq-content #dsq-comments .dsq-drop-profile li img
{
	float:none;
	height:12px;
	margin:0 4px 0 0;
	vertical-align:middle;
	width:12px;
}

#dsq-content #dsq-comments .dsq-drop-profile li a
{
	color:#1C5392;
	vertical-align:middle;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-services
{
	height:16px;
	padding:4px;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-services:hover
{
	background-color:#ddd;
	outline-bottom:1px solid #ccc;
	outline-top:1px solid #ccc;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-services a
{
	display:block;
	height:16px;
	width:100%;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-sep
{
	border-bottom:1px dotted #aaa;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-showlnk
{
	-moz-border-radius:0 5px 0 0;
	-webkit-border-top-right-radius:5px;
	border-bottom:1px solid #ccc;
	height:16px;
	padding:4px 2px;
	text-align:center;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-showlnk a
{
	display:block;
	font-size:95%;
	font-weight:700;
	height:16px;
	width:100%;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-badge
{
	border-bottom:1px solid #ddd;
	cursor:help;
	font-size:95%;
	padding:6px 2px;
	text-align:center;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-badge span
{
	padding:1px 3px;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-more
{
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	background:url(http://media.disqus.com/images/drop-more.gif);
	background-color:#fff;
	background-position:0 0;
	background-repeat:repeat-x;
	border-top:1px solid #ddd;
	height:16px;
	text-align:center;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-more:hover
{
	background-position:0 -20px;
	border-top:1px solid #ccc;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-more a
{
	display:block;
	font-size:95%;
	height:16px;
	width:100%;
}

#dsq-content #dsq-comments .dsq-drop-profile li.dsq-drop-hidden
{
	display:none;
	padding:0;
}

#dsq-content h3
{
	display:block;
	float:none;
}

#dsq-content img,select
{
	display:inline;
	width:auto;
}

#dsq-content input
{
	background:transparent;
}

#dsq-content cite,#dsq-content caption,#dsq-content th,#dsq-ontent td
{
	font-style:normal;
	text-align:left;
}

#dsq-content
{
	font-size:12px;
	line-height:1.5;
}

#dsq-content .dsq-panel
{
	-moz-border-radius:0 5px 5px;
	-webkit-border-radius:5px;
	-webkit-border-top-left-radius:0;
	background:#f5f5f5;
	border:1px solid #999;
	border-radius:0 5px 5px 5px;
	color:#333;
	padding:4px 8px 4px 4px;
	z-index:2;
}

#dsq-content iframe
{
	background:transparent;
	border:0;
	height:90px;
	width:100%;
}

#dsq-content .dsq-options
{
	background:transparent url(http://media.disqus.com/images/themes/narcissus/gray-50.png) repeat-x bottom;
	clear:left;
	margin-bottom:1em;
	padding-bottom:1em;
}

#dsq-content .dsq-thread-settings
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:transparent url(http://media.disqus.com/images/themes/narcissus/header-grey.png);
	border:solid 1px #999;
	clear:left;
	margin-bottom:1em;
	padding:3px 5px;
}

#dsq-content .dsq-dc-logo
{
	float:right;
	position:relative;
}

#dsq-content .dsq-login-buttons
{
	background:transparent url(http://media.disqus.com/images/themes/narcissus/gray-50.png) repeat-x bottom;
	margin-bottom:1em;
	padding:1em 0;
}

#dsq-content .dsq-login-button
{
	display:inline;
	margin-right:3px;
}

#dsq-content .dsq-request-user-info
{
	background:transparent url(http://media.disqus.com/images/themes/narcissus/gray-50.png) repeat-x bottom;
	clear:right;
	margin-bottom:1em;
	padding-bottom:1.5em;
}

#dsq-content .dsq-request-user-logout
{
	float:right;
}

#dsq-content .dsq-request-user-name
{
	font-size:1.167em;
	padding:.25em 0 .25em .5em;
	width:100%;
}

#dsq-content .dsq-request-user-name small
{
	font-size:9px;
}

#dsq-content .dsq-request-user-stats
{
	padding:.25em 0 0 .5em;
}

#dsq-content .dsq-request-user-stats span
{
	margin-right:.75em;
}

#dsq-content .dsq-request-user-stats big
{
	font-size:1.167em;
	font-weight:700;
}

#dsq-comments-title
{
	clear:left;
}

#dsq-content .dsq-textarea .dsq-textarea-wrapper,#dsq-content .dsq-post-fields .dsq-input-wrapper
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#fff url(http://media.disqus.com/images/themes/narcissus/inputshadow.gif) no-repeat top left;
	border:1px solid #999;
	border-radius:3px;
	margin:3px 0;
	padding:3px 5px;
}

#dsq-content .dsq-textarea .dsq-textarea-wrapper
{
	padding:5px;
}

#dsq-content .dsq-textarea textarea,#dsq-content .dsq-post-fields input
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:0;
}

#dsq-content .dsq-textarea textarea
{
	border:0;
	height:36px;
	overflow:auto;
	width:100%;
}

#dsq-content .dsq-textarea textarea:focus,#dsq-content .dsq-post-fields input:focus
{
	outline:0;
}

#dsq-content .dsq-post-fields table
{
	max-width:700px;
	position:relative;
	width:100%;
}

#dsq-content .dsq-post-fields td
{
	padding:0;
	width:50%;
}

#dsq-content .dsq-post-fields .dsq-post-fields-left
{
	padding-right:.25em;
}

#dsq-content .dsq-post-fields .dsq-post-fields-right
{
	padding-left:.25em;
}

#dsq-content .dsq-post-fields input
{
	border:0;
	width:100%;
}

#dsq-content .dsq-subscribe-menu
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	_background:#D0D0D0;
	background:transparent url(http://media.disqus.com/images/themes/narcissus/gray-15.png);
	border-radius:3px;
}

#dsq-content .dsq-subscribe a,#dsq-content .dsq-subscribe-label
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:inherit;
	display:block;
	padding:6px;
	text-decoration:none;
}

#dsq-content .dsq-subscribe-label input
{
	width:auto;
}

#dsq-content .dsq-subscribe a:hover
{
	background-color:#fafafa;
}

#dsq-content .dsq-subscribe ul
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#eee;
	border-radius:3px;
	display:none;
	left:-1px;
	padding:0;
	position:absolute;
	top:-1px;
	width:100%;
}

#dsq-content .dsq-post-footer
{
	height:28px;
	margin-top:.5em;
	position:relative;
}

#dsq-content .dsq-sharing-options
{
	float:left;
	margin-top:4px;
	position:relative;
}

#dsq-content .dsq-sharing-options span small,#dsq-content .dsq-subscribe small
{
	font-size:7px;
}

#dsq-content .dsq-sharing-options button.dsq-button-small
{
	_background:#F7F7F7;
	background:transparent url(http://media.disqus.com/images/themes/narcissus/gray-15.png);
	border:0;
	padding:4px 7px 5px;
	text-shadow:0;
}

#dsq-content .dsq-sharing-options:hover button.dsq-button-small
{
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	background:#f5f5f5 url(http://media.disqus.com/images/themes/narcissus/button-small.gif) repeat-x top;
	border:1px solid #999;
	border-bottom:0;
	border-radius:5px 5px 0 0;
	color:#333;
	padding:3px 6px 5px;
	position:relative;
	z-index:10;
}

#dsq-content .dsq-sharing-options .dsq-panel
{
	display:none;
	left:0;
	padding:6px;
	position:absolute;
	top:20px;
	width:233px;
	z-index:9;
}

#dsq-content .dsq-sharing-options .dsq-panel div
{
	line-height:1.33;
	margin:.5em 0 0;
}

#dsq-content .dsq-sharing-options .dsq-panel input
{
	margin-right:.25em;
}

#dsq-content .dsq-sharing-options:hover .dsq-panel
{
	display:block;
}

#dsq-content .dsq-post-footer .dsq-button
{
	float:right;
	margin-left:3px;
}

#dsq-content .dsq-post-footer .dsq-post-loading
{
	color:#666;
}

#dsq-content .dsq-post-footer .dsq-post-loading img
{
	height:12px;
	margin-bottom:-2px;
}

#dsq-content .dsq-placeholder
{
	color:#888;
}

#dsq-content .dsq-comment-footer-reply-tab
{
	#padding:4px 4px 18px;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	_background:#E6E6E6;
	_color:#333;
	background:url(http://media.disqus.com/images/themes/narcissus/reply-active.png) repeat-x top;
	border:0;
	border-radius:5px 5px 0 0;
	color:#fff;
	display:none;
	font-family:Arial, Helvetica, Calibri, sans-serif;
	font-size:11px;
	margin:0;
	padding:4px 7px 18px;
	text-shadow:0 -1px 0 #666;
}

#dsq-content .dsq-comment-footer-reply-tab::-moz-focus-inner
{
	border:none;
}

.dsq-comment-footer-reply-active span
{
	background:none;
	bottom:-21px;
	height:10px;
	left:-10px;
	position:absolute;
	width:10px;
}

#dsq-content .dsq-append-post
{
	clear:both;
	margin-top:-1em;
	position:relative;
}

#dsq-content .dsq-append-post .dsq-post-area
{
	-moz-border-radius:5px 0 5px 5px;
	-webkit-border-radius:5px;
	-webkit-border-top-right-radius:0;
	_background:#E6E6E6;
	_color:#333;
	background:url(http://media.disqus.com/images/themes/narcissus/gray-30.png);
	border-radius:5px 0 5px 5px 5px;
	margin-bottom:20px;
	padding:10px;
}

#dsq-content .dsq-comment-header
{
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	_background:#F7F7F7;
	_color:#333;
	background:url(http://media.disqus.com/images/themes/narcissus/header-grey.png);
	border-radius:5px 5px;
	height:auto;
	line-height:normal;
}

#dsq-content .dsq-moderator .dsq-comment-header
{
	_background:#EBF0F5;
	background-image:url(http://media.disqus.com/images/themes/narcissus/header-blue.png);
}

#dsq-content .dsq-moderator .dsq-moderator-star
{
	display:inline;
	margin-top:-3px;
	vertical-align:middle;
}

#dsq-content .dsq-comment-outline .dsq-comment-header
{
	outline:1px solid #FAD163;
}

#dsq-content .dsq-comment-header td
{
	vertical-align:middle;
}

#dsq-content .dsq-header-avatar
{
	padding:0;
	position:relative;
	width:1%;
}

#dsq-content .dsq-header-avatar a.dsq-avatar
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	_background:#F7F7F7;
	border-radius:3px;
	display:block;
	padding:4px;
}

#dsq-content .dsq-comment:hover .dsq-header-avatar a.dsq-avatar
{
	background:#F5F5F5;
	border:1px solid #999;
	padding:3px;
}

#dsq-content .dsq-comment:hover .dsq-header-avatar:hover a.dsq-avatar
{
	border-bottom:1px solid #f5f5f5;
}

#dsq-content .dsq-header-avatar img
{
	border:2px solid #fff;
	height:32px;
	width:32px;
}

#dsq-content .dsq-comment-header cite
{
	font-size:110%;
	font-weight:700;
}

#dsq-content .dsq-comment-header-time
{
	padding:0 8px;
}

#dsq-content .dsq-comment-header-time a
{
	color:inherit;
	text-decoration:none;
}

#dsq-content .dsq-comment-header-time a:hover
{
	border-bottom-style:dotted;
	border-bottom-width:1px;
}

#dsq-content .dsq-comment-header .dsq-comment-header-likes
{
	font-size:.85em;
	padding-right:8px;
	text-align:right;
}

#dsq-content .dsq-comment-message
{
	line-height:1.42;
	margin:1em 0;
}

#dsq-content .dsq-comment-footer
{
	_height:1%;
	margin:1em 0;
	overflow:hidden;
}

#dsq-content .dsq-comment-footer-left
{
	float:left;
	padding-top:4px;
	width:50%;
}

#dsq-content .dsq-comment-footer-left a
{
	margin-right:.5em;
}

#dsq-content .dsq-comment-footer-right
{
	float:right;
	text-align:right;
	width:50%;
}

#dsq-content .dsq-comment-footer-right .dsq-like
{
	font-size:11px;
	vertical-align:sub;
}

#dsq-content .dsq-h3-reactions
{
	background:transparent url(http://media.disqus.com/images/themes/narcissus/gray-50.png) repeat-x top;
	margin-top:20px;
	padding-top:10px;
}

#dsq-content .dsq-reaction-header table
{
	_background:#EEF9FD;
	_color:#333;
	background:url(http://media.disqus.com/images/themes/narcissus/blue-20.png);
	width:100%;
}

#dsq-content .dsq-reaction-header-right
{
	text-align:right;
}

#dsq-content .dsq-show-more-reactions
{
	margin:1em 0;
	padding:1em;
	text-align:center;
}

#dsq-content .dsq-comment.dsq-reaction:hover .dsq-header-avatar a.dsq-avatar
{
	background:none;
	border:1px solid transparent;
	padding:3px;
}

#dsq-content .dsq-reaction .dsq-service-name
{
	text-transform:capitalize;
}

#dsq-content .dsq-pagination
{
	background:transparent url(http://media.disqus.com/images/themes/narcissus/gray-50.png) repeat-x top;
	margin:1em 0;
	padding:1em;
	text-align:center;
}

#dsq-content .dsq-pagination table
{
	background:transparent url(http://media.disqus.com/images/themes/narcissus/gray-50.png) repeat-x bottom;
	width:100%;
}

#dsq-content .dsq-pagination-links
{
	text-align:center;
	width:100%;
}

#dsq-content .dsq-pagination span,#dsq-content .dsq-pagination a
{
	margin:0 .25em;
}

#dsq-content .dsq-item-trackback
{
	background:transparent url(http://media.disqus.com/images/themes/narcissus/gray-50.png) repeat-x top;
	margin:1em 0;
	padding:1em 0;
}

#dsq-content .dsq-edit
{
	margin:10px 0;
}

#dsq-content .dsq-textarea textarea.dsq-edit-textarea
{
	height:90px;
}

button.dsq-button,button.dsq-button-small
{
	#margin:0 3px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	_background-image:url(http://media.disqus.com/images/themes/narcissus/button-large.png);
	background:transparent url(http://media.disqus.com/images/themes/narcissus/button-large.png) repeat-x top;
	border:1px solid #999;
	border-radius:5px;
	color:inherit;
	font-family:Arial, Helvetica, Calibri, sans-serif;
	margin:0;
	overflow:visible;
}

button.dsq-button
{
	font-size:12px;
	font-weight:700;
	padding:6px 8px;
}

button.dsq-button-small
{
	font-size:11px;
	padding:3px 6px 4px;
}

button.dsq-button:hover,button.dsq-button-small:hover
{
	cursor:pointer;
}

.dsq-badge,.dsq-badge-verified,.dsq-badge-registered,.dsq-badge-guest,.dsq-badge-facebook,.dsq-badge-twitter,.dsq-badge-openid,.dsq-badge-yahoo
{
	-moz-border-radius:0 5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-radius:0 5px 0 5px;
	font-size:12px;
	padding:2px 4px;
	text-transform:capitalize;
	vertical-align:middle;
}

.dsq-badge-small,li.dsq-drop-badge span
{
	-moz-border-radius:0 3px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	border-radius:0 3px 0 3px;
	font-size:10px;
	padding:1px 2px;
}

.dsq-badge-verified
{
	background:#92C72A;
	border:1px solid #6CA300;
	color:#fff;
}

.dsq-badge-registered
{
	background:#FFFE98;
	border:1px solid #EAE800;
	color:#333;
}

.dsq-badge-guest
{
	background:#DDD;
	border:1px solid #bbb;
	color:#333;
}

.dsq-badge-facebook
{
	background:#46639D;
	border:1px solid #2D3F65;
	color:#fff;
}

.dsq-badge-twitter
{
	background:#31CEFF;
	border:1px solid #2BB5E0;
	color:#fff;
}

.dsq-badge-openid
{
	background:#F9F9F9;
	border:1px solid #AAA;
	color:#F89B1E;
}

.dsq-badge-yahoo
{
	background:#8516A2;
	border:1px solid #530068;
	color:#fff;
}

#dsq-content .dsq-drop-profile a
{
	text-decoration:none;
}

.dsq-moderate-options table
{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#E5EBED;
	margin:10px auto;
	padding:10px;
	width:400px;
}

table.dsq-moderator-settings td
{
	border-bottom:solid 1px #fff;
	padding:10px 6px;
	vertical-align:top;
}

table.dsq-moderator-settings td.last
{
	border-bottom:none;
}

table.dsq-moderator-settings td p.dsq-form-actions
{
	margin-top:5px;
	text-align:right;
}

span.dsq-options-status
{
	color:#799c42;
	margin-left:10px;
}

#dsq-popup-message ul.dsq-thread-help li
{
	display:list-item;
	list-style:disc inside;
	margin:10px 0;
	padding:0;
}

#dsq-popup-message ul.dsq-thread-help li p
{
	color:#555;
	font-size:11px;
	padding-left:5px;
}

#dsq-content .dsq-global-moderator-extras strong:first-child
{
	margin-left:0;
}

#dsq-content .dsq-global-moderator-extras strong
{
	margin-left:10px;
}

#disqus_thread,#dsq-content #dsq-comments
{
	margin-bottom:10px;
}

#dsq-content .dsq-alert-message,#dsq-content .dsq-remove-message,#dsq-content .dsq-realtime-alert,#dsq-content .dsq-missing-permissions
{
	background-color:#FDF1D0;
	border:1px solid #FAD163;
	color:#817134;
	line-height:1.25;
	margin:10px 0;
	padding:5px 8px;
}

.dsq-overlay[id],.dsq-popup[id]
{
	position:fixed;
}

.dsq-popup h4,.dsq-popup ul,.dsq-popup li,.dsq-popup ol,.dsq-popup div,.dsq-popup table,.dsq-popup td,.dsq-popup th,.dsq-popup p,.dsq-popup a,.dsq-popup cite,.dsq-popup img,#dsq-content ul,#dsq-content li,#dsq-content ol,#dsq-content cite,#dsq-content div,#dsq-content table,#dsq-content td,#dsq-content th,#dsq-content p,#dsq-content a,#dsq-content cite,#dsq-content img
{
	background:none;
	border:0;
	float:none;
	margin:0;
	padding:0;
	text-indent:0;
}

.dsq-popup table,#dsq-content table
{
	border-collapse:separate;
	border-spacing:0;
}

.dsq-popup img,#dsq-content img
{
	max-width:none;
}

.dsq-popup ul,.dsq-popup li,.dsq-popup ol,#dsq-content li,#dsq-content ul,#dsq-content ol
{
	background:none;
	display:block;
	list-style-image:none;
	list-style-type:none;
}

.dsq-popup li:before,.dsq-menu li:before,#dsq-content li:before
{
	content:"";
}

.dsq-popup a:hover,.dsq-menu li a:hover
{
	color:#869AAD;
}

.dsq-popup .dsq-popup-container,#dsq-content .dsq-subscribe,#dsq-content .dsq-comment-footer-reply,#dsq-content .dsq-comment-footer-reply-active
{
	position:relative;
}

.dsq-popup-container .dsq-popup-title img,.dsq-popup .dsq-profile-services ul li.dsq-service-labeltxt
{
	margin:0;
}

.dsq-popup-account-settings .dsq-popup-content,.dsq-popup-profile .dsq-popup-content
{
	width:500px;
}

.dsq-lightbox .powered-by,#dsq-content .dsq-paginate-append-text,#dsq-content .dsq-paginate-all-button,#dsq-content .dsq-comment-footer-reply-active .dsq-button-small,#dsq-content .dsq-moderator-star
{
	display:none;
}

.dsq-lightbox .dsq-lightbox-auth-fields table td,.dsq-lightbox-recognized table td,.dsq-moderate-options table td
{
	padding:4px;
}

.dsq-popup-profile .dsq-popup-title td,#dsq-content .dsq-request-user-info td,#dsq-content .dsq-comment-footer-right button
{
	vertical-align:top;
}

.dsq-popup-profile .dsq-popup-profile-user-stats span,#dsq-content .dsq-options span,#dsq-content .dsq-thread-settings a
{
	margin-right:10px;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table,#dsq-content .dsq-comment-header table
{
	width:100%;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td h4,.dsq-popup-profile .dsq-popup-profile-snapshot table td ul li,.dsq-moderate-options table li
{
	margin-bottom:5px;
}

.dsq-menu li a.dsq-admin-toggle,#dsq-content #dsq-comments .dsq-drop-profile li a:hover
{
	font-weight:700;
}

#dsq-content #dsq-comments .dsq-header-avatar:hover .dsq-drop-profile,#dsq-content .dsq-paginate-append-button,#dsq-content .dsq-comment-footer-reply-active .dsq-comment-footer-reply-tab
{
	display:inline;
}

#dsq-content .dsq-sharing-options .dsq-configure-options,#dsq-content .dsq-global-moderator-extras
{
	font-size:11px;
}

#dsq-content .dsq-comment-header-meta,#dsq-content .dsq-reaction .dsq-comment-cite
{
	padding-left:8px;
}

#dsq-content .dsq-comment-footer-right button.dsq-button-small,#dsq-content .dsq-comment-footer-right .dsq-like img
{
	margin-right:3px;
}

#dsq-content .dsq-reaction-header td,#dsq-content .dsq-pagination td
{
	padding:.5em;
}

.dsq-moderate-options table ul,#dsq-popup-message ul.dsq-thread-help
{
	margin:0;
	padding:0;
}