body
{
	background:#eee;
	font-family:verdana;
	font-size:12px;
	text-align:center;
	margin:24px;
	padding:0px;
}

header,section,footer,aside,nav,article,figure
{
	display:block;  
}

h1
{
	margin-top:0px;
	padding-top:0px;
}

#wrap
{
	background:#fff;
	box-shadow:0px 0px 8px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.1);
	width:976px;
	text-align:left;
	margin:0px auto;
	padding:24px;
}

#footer
{
	margin-top:16px;
	color:#aaa;
	font-size:10px;
}

.subform
{
	border:1px solid #000;
	width:480px;
	margin-left:32px;
	padding:16px;
}