body
{
	background:#eee;
	font-family:verdana;
	font-size:12px;
	text-align:center;
	margin:24px;
	padding:0px;
}

header,section,footer,aside,nav,article,figure
{
	display:block;  
}

table
{
	border-spacing:0px;
}
td
{
	border:0px;
	padding:0px;
}

.left
{
	float:left;
}
.right
{
	float:right;
}
.clear
{
	clear:both;
}

h1,h2,h3,h4,h5
{
	margin-top:0px;
	padding-top:0px;
}

#wrap
{
	background:#fff;
	box-shadow:0px 0px 8px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.1);
	width:976px;
	text-align:left;
	margin:0px auto;
	padding:24px;
}

#footer
{
	margin-top:24px;
	color:#aaa;
	font-size:10px;
}

.subform
{
	border:1px solid #000;
	width:320px;
	padding:16px;
}

input[type=text].idle
{
	color:#aaa;
}

#threadlist td, #threadlist th
{
	padding:4px;
}
#threadlist tbody tr:hover
{
	background:#f0f0f0;
}